@charset "utf-8";

@import "compass/utilities/sprites";

@import "retina-sprites";

$logo-sprite-dimensions: true; //生成的样式显示宽高
//$disable-magic-sprite-selectors: true; //关闭自动生成hover等伪类
$logo-layout: vertical;  //生成合图的布局方式 horizontal vertical diagonal（斜对角）smart

@import "logo/*.png";

@include all-logo-sprites();

.main-logo {
    @include logo-sprite("analyzer"); //参数为图片名称
}

/*
    自动生成hover等伪类
    analyzer.png analyzer_hover.png analyzer_active.png 这样的命名规则
 */

//使用retina-sprites插件
$sprites: sprite-map("retina-version/sprites/*.png");
$sprites2x: sprite-map("retina-version/sprites/*.png");

.ico-file {
    @include retina-sprite(file);
}

.ico-calendar {
    @include retina-sprite(calendar,true); //第二个参数是是否自动生成hover伪类， 第三个是否自动生成active伪类
}
