@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
     * CONTENTS
     * 
     * SETTINGS
     * variables............................变量集中存储文件 
     * mixin............................mixin集中存储文件
     * icons.............................合图集中存储文件
     * 
     * TOOLS
     * 
     * COMPONENTS
     * reset....................................Compass内置浏览器重置样式文件
     * 
     * BUSINESS
     * 
     * BASE
     * screen..................................针对当前站点主页的样式修饰
     * 
 */
/* line 120, logo/*.png */
.logo-sprite, .logo-analyzer, .logo-analyzeractive, .logo-analyzerhover, .logo-equation, .logo-music, .logo-search, .logo-shape, .logo-superimposed, .logo-translate, .logo-write, .main-logo {
  background-image: url('/images/logo-se1c910144e.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-analyzer {
  background-position: 0 0;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-analyzeractive {
  background-position: 0 -113px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-analyzerhover {
  background-position: 0 -226px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-equation {
  background-position: 0 -339px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-music {
  background-position: 0 -452px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-search {
  background-position: 0 -565px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-shape {
  background-position: 0 -678px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-superimposed {
  background-position: 0 -791px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-translate {
  background-position: 0 -904px;
  height: 113px;
  width: 83px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.logo-write {
  background-position: 0 -1017px;
  height: 113px;
  width: 83px;
}

/* line 15, ../sass/_icons.scss */
.main-logo {
  background-position: 0 0;
  height: 113px;
  width: 83px;
}

/*
    自动生成hover等伪类
    analyzer.png analyzer_hover.png analyzer_active.png 这样的命名规则
 */
/* line 28, ../sass/_icons.scss */
.ico-file {
  height: 15px;
  width: 13px;
  background-image: url('/images/retina-version/sprites-s19357bd28b.png');
  background-position: 0 -30px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 45, ../sass/_retina-sprites.scss */
  .ico-file {
    background-image: url('/images/retina-version/sprites-s19357bd28b.png');
    background-position: 0 -15px;
    -moz-background-size: 8px auto;
    -o-background-size: 8px auto;
    -webkit-background-size: 8px auto;
    background-size: 8px auto;
  }
}

/* line 32, ../sass/_icons.scss */
.ico-calendar {
  height: 15px;
  width: 15px;
  background-image: url('/images/retina-version/sprites-s19357bd28b.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 29, ../sass/_retina-sprites.scss */
.ico-calendar:hover {
  background-position: 0 -15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 45, ../sass/_retina-sprites.scss */
  .ico-calendar {
    background-image: url('/images/retina-version/sprites-s19357bd28b.png');
    background-position: 0 0;
    -moz-background-size: 8px auto;
    -o-background-size: 8px auto;
    -webkit-background-size: 8px auto;
    background-size: 8px auto;
  }
  /* line 53, ../sass/_retina-sprites.scss */
  .ico-calendar:hover {
    background-position: 0 -7.5px;
  }
}

/* 主标题样式 */
/* line 39, ../sass/screen.scss */
.headline {
  font-family: Braggadocio, Arical, Verdana, Helvetica, sans-serif;
}

/* 页面主体内容样式 */
/* line 45, ../sass/screen.scss */
.main-sec {
  font-family: Arical, Verdana, Helvetica, sans-serif;
}
/* line 49, ../sass/screen.scss */
.main-sec-headline {
  font-family: Braggadocio, Arical, Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

/* line 59, ../sass/screen.scss */
.main-sec-detail {
  font-size: 12px;
}

/* line 66, ../sass/screen.scss */
p {
  color: #8000ff;
}

/* line 70, ../sass/screen.scss */
.webdemo-sec {
  -moz-box-shadow: 1px 1px 3px 2px #cfcecf;
  -webkit-box-shadow: 1px 1px 3px 2px #cfcecf;
  box-shadow: 1px 1px 3px 2px #cfcecf;
}
@media (min-width: 768px) {
  /* line 70, ../sass/screen.scss */
  .webdemo-sec {
    width: 50%;
    float: left;
  }
}
/* line 76, ../sass/screen.scss */
.webdemo-sec:hover {
  background-color: #f5f5f5;
}

/* line 81, ../sass/screen.scss */
.error, .serious-error {
  color: #f00;
}

/* line 85, ../sass/screen.scss */
.serious-error {
  /**
       * 1. extend 不可继承选择器序列
       * .A .B {
       *     color: red;
       * }
       * 
       * .C {
       *     @extend .A .B;
       * }
       * 
       * 2. 使用%，用来构建只用来继承的选择器
       * %error {
       *  color: #f00;
       *}
       *
       *   serious-error {
       *      @extend %error; //继承
       *      border: 1px solid #f00;
       * }
              
   */
  border: 1px solid #f00;
}

/* line 112, ../sass/screen.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/stylesheets/xml/ellipsis.xml#ellipsis');
}

/**
a {
    &:hover { //& 父类选择器
        color: blue;
    }
}*/
